<table>
    <tr><td>Locale:</td><td> <%= text_field(:translation,  :locale) %></td></tr>
    <tr><td>Key:</td><td><%= text_field(:translation, :key) %></td></tr>
    <tr><td>Scope:</td><td><%= text_field(:translation, :scope) %></td></tr>
    <tr><td>Default:</td><td><%= text_field(:translation, :default) %></td></tr>
    <tr><td>Translation:</td><td><%= text_field(:translation, :translation) %></td></tr>
    <tr><td>Zero:</td><td><%= text_field(:translation, :zero) %></td></tr>
    <tr><td>One:</td><td><%= text_field(:translation, :one) %></td></tr>
    <tr><td>Many:</td><td><%= text_field(:translation, :many) %></td></tr>
    <tr><td>Few:</td><td><%= text_field(:translation, :few) %></td></tr>
</table>